.lease {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(237, 234, 236, 0) 25%
    ),
    url(../images/pb2.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;

  &__info {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
  }

  &__title {
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 5.6px;
    margin-bottom: 30px;
    color: #fffcfc;
    position: relative;
    z-index: 1;
  }

  &__text {
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  &__link {
    border: 2px solid #fff2b0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.9px;
    color: #fff2b0;
    transition: all 0.3s;
    position: relative;
    padding: 5px;
    z-index: 1;

    &:hover {
      color: violet;
      border-color: violet;
    }
  }

  &__img {
    padding-left: 20%;
    padding-top: 20%;
  }
}
