.menu {
  display: flex;

  &__item {
    margin-right: 35px;
    transition: all 0.3s;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: rgba(255, 251, 0, 0.8);
    }
  }
}
