.services {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 2%,
      rgba(237, 234, 236, 0) 22%
    ),
    url(../images/pb.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;

  &__title {
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font);
    font-size: 24px;
    margin-bottom: 30px;
    color: #fffcfc;
  }

  &__list {
    margin-bottom: 35px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    border: 2px solid #fff2b0;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.9px;
    color: #fff2b0;
    padding: 5px;
    transition: all 0.3s;

    &:hover {
      color: violet;
      border-color: violet;
    }
  }

  &__img {
    padding-left: 15%;
  }

  &__img--1 {
    padding-top: 250px;
    left: 10%;
  }
}
